<div class="header">
    <a [routerLink]='["/sportsbook", "NBA"]' routerLinkActive='active' class="header__specific NBA "><img src="assets/icons/basketball.png" alt="basketball"> NBA({{dataService.NBAMatches.length}})</a>
    <a [routerLink]='["/sportsbook", "UFC"]' routerLinkActive='active' class="header__specific UFC"> <img src="assets/icons/mma.png" alt="mma"> UFC({{dataService.UFCMatches.length}})</a>
    <a [routerLink]='["/sportsbook", "UEFA"]' routerLinkActive='active' class="header__specific UEFA"> <img src="assets/icons/soccer.png" alt="soccer"> UEFA({{dataService.UEFAMatches.length}})</a>
</div> 
