$green: #01AC2D; 

.bet-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__bet-amount{
        padding: 10px;
        text-align: center;
        color: black;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: space-around;
        color: black;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__input{
            padding: 4px;
            font-weight: bold;
            font-size: 16px;
            @media screen and (max-width: 500px) {
                padding: 0px;
            }
            max-width: 70px;
        }
        @media screen and (max-width: 500px) {
            font-size: 16px;
            padding: 20px 10px;
        }
    }

    &__info{
        display: flex;
        justify-content: space-around;
        &__odd, &__win{
            @extend .bet-details__bet-amount;
            @media screen and (max-width: 500px) {
                font-size: 16px;
                padding: 10px 10px;
            }
        }
    }

    &__reminder{
        color: red;
        padding: 2px 15px;
        font-style: italic;
    }

    &__place-bet{
        padding: 10px;
        font-size: 19px;
        font-weight: bold;
        background-color: $green;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        justify-self: flex-end;
        border: none;
        outline: none;
    }
}