$dark1: rgba(29,35,41,255);

.header{
  padding: 15px 40px;
  background-color: $dark1;
  color: white;
  font-size: 19px;
  font-weight: bold;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: 17px;
  }
}