
<!-- DAVAKOPIRE CHEMIT AR AMIWYIA :D -->

<div class="slider mid" id="home">

  <div class="slides">

      <input type="radio" name="r" id="r1" checked>
      <input type="radio" name="r" id="r2" >
      <input type="radio" name="r" id="r3" >
      <input type="radio" name="r" id="r4" >

      <div class="slide s1">
          <img src="assets/pictures/curry.jpg" alt="burger"   >
      </div>
      <div class="slide">
          <img src="assets/pictures/ngannou.jpg" alt="pizza" id="pizza">
      </div>
      <div class="slide">
          <img src="assets/pictures/jan.jpg" alt="xachapuri"  >
      </div> 
      <div class="slide">
        <img src="assets/pictures/nets.jpg" alt="cake"  >
      </div> 
  </div>

  <div class="navigation">
      <label for="r1" class="bar"></label>
      <label for="r2" class="bar"></label>
      <label for="r3" class="bar"></label>
      <label for="r4" class="bar"></label>
  </div>

</div> 
